<!DOCTYPE html>
<html ng-app="livraria">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="LojaControle as loja">
<div class="container-fluid">
  <div class="jumbotron">
    <h2>Livraria</h2>
  </div>
  <div ng-repeat="livro in loja.acervo">
    <h2>
      {{livro.titulo}}
      <em class="pull-right">R$ {{livro.preco}}</em>
    </h2>
    <section class="tab" ng-controller="AbasControle as aba">
      <ul class="nav nav-pills">
        <li><a href ng-click="aba.setAba(1)">Descrição</a></li>
        <li><a href ng-click="aba.setAba(2)">Comentários</a></li>
      </ul>

      <div ng-show="aba.isSet(1)">
        <livro-descricao></livro-descricao>
      </div>
      <div  ng-show="aba.isSet(2)">
        <h4>Comentários</h4>
        <blockquote ng-repeat="comentario in livro.comentarios">
          {{comentario.autor}} disse: {{comentario.texto}}
        </blockquote>
        <div>
        <form name="comentarioForm" ng-controller="ComentarioControle as cmtControle"
              ng-submit="comentarioForm.$valid && cmtControle.addComentario(livro)" novalidate>
          <blockquote>
            {{cmtControle.comentario.autor}} disse: {{cmtControle.comentario.texto}}
          </blockquote>
          <p>
            <input type="text" ng-model="cmtControle.comentario.autor"
                placeholder="Seu nome" required/>
          </p>
          <p><textarea required ng-model="cmtControle.comentario.texto" placeholder="Deixe seu comentario"></textarea>
          </p>
          <div>comentarioForm is {{comentarioForm.$valid}}</div>
          <input type="submit" value="Adicionar" />
        </form>
        </div>
      </div>

    </section>
    <br/>
    <button ng-show="{{livro.quantidade > 0}}">
      Adicionar ao Carrinho
    </button>
  </div>
</div>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>

