body {
  font:                small/1.6em Verdana, Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}

h1, h2 {
  color:               #007e7e;
}

h1 {
  font-size:           150%;
}

h2 {
  font-size:           130%;
}

#garantia {
  line-height:         1.9em;
  font-style:          italic;
  font-family:         Georgia, "Times New Roman", Times, serif;
  color:               #444444;
  border:              1px dashed white;
  background-color:    #a7cece;
  padding:             25px;
  padding-left:        80px;
  margin:              30px;
  margin-right:        250px;
  background-image:    url(imagens/background.gif);
  background-repeat:   no-repeat;
  background-position: top left;
}

#drinks {
  border:              thin solid #007e7e;
  width:               80%;

  padding:             0px 20px 20px 20px;

  margin-left:         10px;

  text-align:          center;
  
  background-image:    url("images/cocktail.gif");
  background-repeat:   repeat-x;
  line-height:         1;
}

#drinks h2 {
  color:               black;
}

#drinks h3 {
  color:               #00B200;
}

.bebidas {
   display: block;
   margin-bottom: 10px;
}


.bebidas > li {
    background: #00ff9d;
	display: block;
	width: 45%;
	float: left;
    margin-top: 30px;
    margin-right: 20px;
    border: 1px solid #00B200;
    height: 350px;
}

.bebidas button {
    text-transform: uppercase;
    background: #00B200;
    border: 1px solid #00B200;
    color: #00ff9d;
    padding-left: 40px;
    padding-right: 40px;
    height: 40px;


}

.carregando {
    background: #00B200 url(imagens/bebida.gif) right no-repeat !important;
}

.comentarios {
    margin-left: 0px;
    padding-left: 0px;
}

.comentarios li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#rodape {
  font-size:           50%;
  text-align:          center;
  line-height:         normal;
  margin-top:          30px;
}

.solto {
	margin-top: 400px;
	clear: both;
}

.destacada {
	background-color: #00ff9d;
	padding: 5px;
	border: dotted #CCCCCC 1px;
}

.comentarios {
    display:none;
}

.receita {
    display: none;
}

.receita img {
    display: none;
}